{% load static %}

<!--Nuestra historia-->
<section id="nuestra-historia" class="nuestra-historia seccion-oscura">
    <div class="contenedor">
        <h1 class="seccion-titulo">Nuestra historia</h1>
        <p class="seccion-texto">Bienvenido a Energy and Water SpA, empresa dedicada a la instalación y
            reparación de sistemas de ventilación, calefacción, electricidad y construcción.
            Contamos con un equipo de profesionales altamente cualificados y con amplia experiencia
            en el sector. Ofrecemos soluciones a medida para cada cliente, garantizando la calidad y
            la seguridad de nuestros servicios. Contacta con nosotros y solicita tu presupuesto sin compromiso.
            <br>
            Somos una empresa fundada en 2018 con el objetivo de brindar servicios integrales de mantenimiento
            para hogares, oficinas, comercios e industrias. Nuestra misión es satisfacer las necesidades de
            nuestros clientes con eficiencia, rapidez y profesionalidad. Nuestra visión es ser la empresa referente
            en el mercado por nuestra excelencia y compromiso. Nuestros valores son la honestidad, la
            responsabilidad,
            el respeto y la innovación.
        </p>
    </div>
</section>

<!--Nuestros servicios-->
<section class="servicios seccion-clara">
    <div class="container text-center">
        <div class="row g-2">
            <!--Aire acondicionado-->
            <div class="columna col-6">
                <p class="aire-titulo">Aire acondicionado</p>
                <p class="texto-negro">Instalamos, reparamos y revisamos todo tipo de sistemas de aire
                    acondicionado, tanto
                    domésticos
                    como industriales. Nos encargamos de la limpieza, el cambio de filtros, la recarga de gas y
                    la detección y solución de averías. </p>
            </div>
            <!--Sala de calderas-->
            <div class="columna col-6">
                <p class="aire-titulo">Sala de calderas</p>
                <p class="texto-negro">Instalamos, reparamos y revisamos todo tipo de calderas, tanto de gas como
                    eléctricas.
                    Nos encargamos del mantenimiento preventivo, la sustitución de piezas, la purga de radiadores
                    y la regulación de la presión y la temperatura.</p>
            </div>
            <!--Grupo electrógeno-->
            <div class="columna col-6">
                <p class="aire-titulo">Grupo electrógeno</p>
                <p class="texto-negro">Instalamos, reparamos y revisamos todo tipo de grupos electrógenos, tanto
                    monofásicos
                    como trifásicos. Nos encargamos del suministro de combustible, el cambio de aceite,
                    el control de baterías y la verificación del funcionamiento correcto. </p>
            </div>
            <!--Sala de bombas-->
            <div class="columna col-6">
                <p class="aire-titulo">Sala de bombas</p>
                <p class="texto-negro">Instalamos, reparamos y revisamos todo tipo de bombas hidráulicas,
                    tanto centrífugas como periféricas. Nos encargamos del ajuste de válvulas, el cambio
                    de sellos mecánicos, el equilibrado de rotores y la limpieza de impulsores. </p>
            </div>
        </div>
    </div>
</section>

<!--Equipo-->
<section id="nuestro-equipo" class="nuestro-equipo seccion-oscura d-flex flex-column">
    <h1 class="seccion-titulo texto-blanco">Nuestro equipo</h1>
    <h3 class="seccion-descripcion texto-blanco">Compartimos una visión clara del
        objetivo, fomentamos un clima de confianza, colaboración
        y apoyo mutuo entre los integrantes del equipo.</h3>
    <hr>
    <p class="seccion-texto texto-blanco">Mizraim Abello es el fundador de Energy and Water SpA,
        es un líder colaborativo que se desempeña en el ámbito laboral,
        específicamente en el sector de la climatización y electricidad.
        Practica un liderazgo democrático; es decir, que involucra al
        equipo de trabajo en la toma de decisiones y valora sus opiniones
        y sugerencias. Sus principales habilidades como líder son la resolución
        de problemas, la comunicación efectiva, el pensamiento crítico, la
        capacidad de coordinación y gestión. Algunos de los logros más destacados
        son haber participado en la acreditación de los centros de salud de la
        municipalidad de San Joaquín, reparación del equipo de climatización
        para el museo de la Universidad de los Andes y haber realizado reparaciones
        y cambios de grupos electrógenos que son críticos para el funcionamiento de
        los edificios. Uno de los desafíos que enfrentó como líder fue adaptarse a
        las nuevas normativas sanitarias por la pandemia y garantizar la seguridad
        del equipo y los clientes. Lo logró implementando protocolos de prevención
        y capacitando al personal. Su objetivo como líder es darle continuidad
        operacional a los clientes y mejorar constantemente los procesos de
        mantenimiento y calidad.
    </p>
</section>

