{% load static %}
<!--Preguntas Frecuentes-->
<h1 class="seccion-titulo texto-negro text-center">Preguntas Frecuentes:</h1>
<div id="faq" class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cómo solicito una cotización?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Puedes solicitar una cotización para un aire acondicionado a través de
                nuestro sitio
                web oficial,
                donde encontrarás un formulario de contacto. Simplemente completa tus datos y especifica tus
                necesidades,
                y nuestro equipo te proporcionará una cotización detallada en breve.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cómo solicito una visita técnica?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Para solicitar una visita técnica, puedes comunicarte con nuestro servicio de atención al cliente
                por teléfono
                o
                correo electrónico. Nuestros técnicos especializados estarán encantados de programar una visita a tu
                domicilio
                u oficina para evaluar tus necesidades específicas y recomendarte la mejor solución en cuanto a aire
                acondicionado.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ¿Qué modelos de aire acondicionado trabajan?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Trabajamos con una amplia gama de modelos de aire acondicionado, desde
                unidades
                de ventana hasta sistemas de climatización central. Nuestra selección incluye modelos de marcas
                reconocidas
                por su calidad y rendimiento, garantizando opciones para satisfacer las necesidades de cualquier
                espacio y
                presupuesto. Si necesitas asesoramiento para elegir el modelo adecuado, nuestro equipo está
                disponible para
                ayudarte a encontrar la mejor opción para ti.
            </div>
        </div>
    </div>
</div>