{% extends "index.html" %}


<br>
{% block "header" %}
{% endblock "header" %}
<br>

{% block 'content' %}

<section class="page-section bg-primary-subtle">
    <div class="col-4 mx-auto">
        <div class="intro-text left-0 bg-faded p-5 rounded">
            <h1>Gracias por contactarnos!</h1>
            <p>Hemos recibido su mensaje y nos pondremos en contacto con usted pronto.</p>
        </div>
    </div>
</section>

{% endblock 'content' %}

<br>
{% block 'question' %}
{% endblock 'question' %}
<br>